.image_upload_one_image {
  width: 100%;
}
.ReactCrop__image {
  width: 100%;
}

.image_upload_one_guideline_title {
  font-size: 16px;
  color: #b3433a;
  font-weight: bold;
}

.red_2 {
  color: #b3433a;
  font-weight: bold;
}

.b_700 {
  font-weight: 700;
}
