@import '~/public/assets/style/color.scss';

.inventory-brand-form {
    &__button.active {
        background-color: #f0f2f5;
        @include color_blue_main;
    }
    &__button {
        overflow: hidden;
        -webkit-appearance: none;
        background-color: transparent;
        border: 0;
        box-shadow: none;
        width: 180px;
        justify-content: flex-start;
        .span {
            color: #666;
        }
        :active {
            box-shadow: none;
            background: none;
        }
    }
    &__col-right {
        border-left: 0.9px solid #eee;
        padding: 0px 20px;
    }

    .avatar-uploader-public.ant-upload-picture-card-wrapper 
    .ant-upload.ant-upload-select-picture-card {
        width: 50px;
        height: 50px;
    }
}

.inventory-brand-tab {
    padding-left: 50px;
    .p_table_component .ant-table-thead > tr > th {
        font-weight: 500;
        word-wrap: normal;
    }

    .text-total {
        @include color_pale;
    }

    &_toolbox {
        padding-right: 25px;
    }
}

.crm-brand-tab.tab-order-history {
    padding-left: 10px;
}
