.horizontal_group {
    .horizontal_group__form-control {
        align-items: center;
    }
}
.label-control {
    color: #727272;
    font-weight: 600;
}
.horizontal_group_input-control {
    color: #4B5B79;
}